{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- content starts here -->

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Profiles</h2>
    <a href="{% url 'add_user_profile' %}" class="btn btn-primary">Add Profile</a>
    <div class="row row-cols-3 row-cols-lg-3 align-items-stretch g-4 py-5">
    <!-- Profile cards -->
    {% for profile in object_list %}
    <div class="col mb-4">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg"
            style="background-image: url('{{ profile.profile_picture.url }}'); background-size: cover; background-position: center; margin-bottom: 20px;">
            <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 display-7 lh-1 fw-bold">{{ username }}</h3>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center">
                        <small><a href="{% url 'user_profile' profile.slug %}">View profile</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- content ends here -->
{% endblock %}

    













